* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: coolvetica;
    src: url("/fonts/coolvetica_rg-webfont.woff2") format("woff2"), url("/fonts/coolvetica_rg-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
:root {
    --DM: "DM Sans", sans-serif;
    --DMss: "DM Serif Text", serif;
    --roboto: "Roboto", sans-serif;
    --robotos: "Roboto Serif", serif;
    --Cormorant: "Cormorant Garamond", serif;
    --rose: #ca8d7f;
    --roseTxt: #a24e4e;
    --roseRouge: #a24e4e;
    --bgProduit: #fff7f7;
    --bgCommentaire: #a24e4e;
    --couleurFont: #f5f5f5;
    --roseclair:#e4d6d6;
}
body {
    background-color: darkslategrey;
    /* height: fit-content; */
}
body::-webkit-scrollbar {
    display: none;
}
main {
    background: var(--rose);
}
.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    height: 100vh;
}
.hero-top {
    position: absolute;
    top: 50px;
}
.hero-img {
    height: 100vh;
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
}
.title {
    width: 100vw;
    text-align: center;
    color: var(--couleurFont);
    font-family: var(--DM);
    font-size: clamp(16px, 1rem + (1vw - 3.2px) * 0.5, 24px);
}
.txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: clamp(24px, 2rem + (1vw - 3.2px) * 1, 48px);
    font-family: var(--roboto), sans-serif;
    font-weight: 300;
    color: var(--couleurFont);
}
.main-container {
    height: 100vh;
    background: var(--rose);
    color: var(--roseRouge);
}
.philo {
    max-width: 1400px;
    margin: 0px auto;
}
.intro-txt {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}
.ititle {
    font-size: clamp(16px, 2rem + (1vw - 3.2px) * 1, 24px);
    font-family: var(--robotos);
    font-weight: 100;
    margin: 25% 0 10% 0;
    
}
.iaside {
    max-width: 600px;
    min-width: 200px;
    padding: 25px;
    margin: 0px auto;
    font-family: var(--roboto);
    font-size: clamp(16px, 1rem + (1vw - 3.2px) * 1, 24px);
    line-height: 1.3em;
    
}
.main-container.produit {
    background: var(--couleurFont);
    height: auto;
    width: 100%;
    color: var(--roseTxt);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.produit h2 {
    width: 100%;
    margin: 50px 0px;
    font-family: var(--robotos);
    font-size: clamp(32px, 2rem + (1vw - 3.2px) * 1, 48px);
}
.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
}
.card {
    margin: 10px 0px 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 15px;
    border-radius: 20px 20px 0px 0px;
}
.card .fonction, .card .acheter {
    margin: 15px 0px;
}
.card img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 20px 20px 0px 0px;
}
p.fonction {
    font-family: var(--robotos);
    font-size: clamp(24px, 2rem + (1vw - 3.2px) * 1, 32px);
}
p.acheter {
    text-transform: uppercase;
    font-family: var(--roboto);
    font-size: clamp(16px, 2rem + (1vw - 3.2px) * 1, 24px);
    font-weight: 300;
    text-decoration: none;
}

p.acheter:hover {
    text-decoration: underline 2px;
    transition: transform 330ms ease-in-out 0s;
}
/**********************************************************/
.bg-details{
    background: var(--roseRouge);
}
.main-container.details {
    height: auto;
    background: var(--roseRouge);
    color: var(--couleurFont);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.left-side{
    text-align: center;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
    margin-top: 50px;
}
.details-container{  /*  RIGHT SIDE */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65%;
    padding: 60px;
    font-size: 24px;
    font-family: var(--roboto);
    font-weight: 300;
}
.detail-item{
    max-width: 250px;
    margin: 30px auto;
}
.detail-item img{
    margin: 15px 0;
}
/**********************************************************/
.main-container.client{
    /* height: fit-content; */
    height: 100%;
    padding: 15px;
    background: var(--roseclair);
    font-family: var(--roboto);
    text-align: center;
    padding-bottom: 70px;
}
.client-container{
    max-width: 500px; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 10px; 
    justify-content: center;
    text-align: center;
} 
.client h2{
    font-family: var(--robotos);
    font-weight: 500;
    padding: 15px 0;
    text-align: center;
    font-size : clamp(32px, 2rem + (1vw - 3.2px) * 1, 48px);
}
.client-card{
    border: 1px solid var(--roseRouge);
    background: var(--couleurFont);
    min-height: 240px;
    margin: 10px auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(16px, calc(1rem + ((1vw - 3.2px) * 0.5)), 20px);
}
.client-txt{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.client-name{
    height: 20%;
    margin-top: 15px;
    font-weight: 500;
}
/**********************************************************/
.main-container.contact{
    height: 100vh;
    background:var(--roseRouge);
    color: var(--couleurFont);
    font-family: var(--robotos);

    /* display: flex; */
    text-align: center;
    padding: 0 15px;
    
}
.footer-left{
    /* background: rgba(255, 0, 0, 0.516); */
    font-size: 32px;
}
.footer-left h3{
    height: 20%;
    padding: 50px 0 0 0;
}
.footer-right{
    /* background: crimson; */
    /* width: 50%; */
    font-family: var(--roboto);
    height: 60%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer-right ul{
    text-decoration: none;
    list-style: none;
}
.footer-right li{
    padding:5px;
}
.footer-right ul li:nth-child(even){
    margin-bottom: 20px;
    /* background: black; */
}
.footer-right li a{
    color: var(--couleurFont);
    text-decoration: none;
}
.logo-ressource a img{
    width: 50px;
    filter: grayscale(100);
}



/**********************************************************/

@media (min-width: 728px) {
    .philo {
        height: 80vh
    }
    .iaside {
        font-size: clamp(16px, 2rem + (1vw - 3.2px) * 1, 24px);
    }
    .main-container.details {
        max-width: 1400px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
    }
    
    .left-side{
        height: auto;
        width: 65%;
        max-width: 900px;
        margin: 50px;
        background-image: url(/medias/img/details-picture.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .details-container{  /*  RIGHT SIDE */
        width: 35%;
        height: 100%;
        padding: 0px 25px 0 0;
    }
    .client-container{
        max-width: 900px; 
        grid-gap: 25px;
        grid-template-columns: repeat(auto-fit, 450px);
    }
    .client-card{
        width:450px ;
    }





    .main-container.contact{
        display: flex;
        padding: 0;

        
    }
    .footer-left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 60%;
    }
    .footer-left h3{
        width: 400px;
        padding: 50px 0 0 0;
        font-size: 48px;
    }
    .footer-right{
        height: 100%;
        width: 50%;
        display: flex;
        font-size:24px;
    }
    .footer-right ul li:nth-child(even){
        margin-bottom: 60px;
    }
    .footer-right img{
        margin: 0 20px;
        width: 50px;
    }

}
@media (min-width: 1024px) {
    .intro-txt {
        flex-direction: row;
        align-items: center;
        padding: 80px;
    }
    .ititle {
        width: 50%;
        margin: 0;
    }
    .iaside {
        width: 50%;
        padding: 50px;
        margin: 0;
        font-size: clamp(16px, 2rem + (1vw - 3.2px) * 1, 24px);
    }
    .main-container.produit {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1400px;
    }
    .card {
        margin: 0px 40px 120px;
        max-width: 900px;
        transition: transform 330ms ease-in-out 0s;
    }
    .card img {
        margin-bottom: 15px;
    }
    .card:hover {
        transition: all 0.3s ease-in-out 0s;
        transform: scale(1.2);
    }
    .main-container.client{
        /* height: 50vh; */
        align-items: center;
    }
    .client-container{
        max-width: 1400px; 
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, 300px);
    }
    .client-card{
        width:300px ;
    }
    .main-container.contact{
        max-width: 1400px;
        margin: 0 auto;
    }
}
@media (min-width: 425px) and (max-width: 1023px) {
    .ititle {
        margin: 15% 0 5% 0;
    }

    .iaside {
        line-height: 1.3em;
    }
}
